body {
  margin:0;
  padding:0;
}

#preloader {
  text-align: center;
  font-size: 3em;
  color: #000;
  margin-left: 45%;
  margin-top: 150px;
  visibility: hidden;
  position: absolute;
  z-index: 9999999999;
}

#footer {
  position: fixed;
  bottom:0px;
  width:100%;
}

#takeBtt {
  background:#007ACC;
  color:#fff;
  font-size: 1em;
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:none;
  display:inline-block;
  height:40px;
  cursor:pointer;

}

#closeBtt {
  background:#007ACC;
  color:#fff;
  font-size: 1em;
  width: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:none;
  display:inline-block;
  height:40px;
  cursor:pointer;
}

#takeBtt.disabled {
  background:#ccc;
}

#preview {
  margin-bottom: 30px;
}